@media(min-width : 768-px)
{
    .news-input 
    {
        width:50%;
    }
}
body::before{
    display: block;
    content:'';
    height: 60px;
}

/* .navbar {
        position: fixed;
        width: 100%;
        z-index: 1000;
      }
      .navbar-top {
        top: 0;
      }
      .navbar-bottom {
        top: 60px;
      }
      .content {
        padding-top: 70px;
      } */